.container {
  text-align: center;
  margin-top: 40px;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}

.col .btn-left {
  display: absolute;

}

.width-c{ 
  width: 115px;
}
.btn {
  margin: 0.2rem;
}

.width-1 {
  max-width: 540px;
}

.fecha_filtro{
  margin-left: 5%;
}